.login--wrapper{
    
    display: grid;
    height: 100vh;
    place-content: center;
    text-align:center;

}

.login-card { 

    overflow: auto;
    height: 60vh;
    width: 40vw;
    
    border-radius: 25px;
    padding: 20px;
    box-shadow: 0px 0px 25px 5px black;

    background: linear-gradient(270deg, #64d53a, #fd297b);
    background-size: 400% 400%;

    -webkit-animation: title-card 40s ease infinite;
    -moz-animation: title-card 40s ease infinite;
    animation: title-card 40s ease infinite;

}

/* Used https://www.gradient-animator.com */
@-webkit-keyframes title-card {
    0%{background-position:75% 0%}
    50%{background-position:26% 100%}
    100%{background-position:75% 0%}
}
@-moz-keyframes title-card {
    0%{background-position:75% 0%}
    50%{background-position:26% 100%}
    100%{background-position:75% 0%}
}
@keyframes title-card { 
    0%{background-position:75% 0%}
    50%{background-position:26% 100%}
    100%{background-position:75% 0%}
}

p {

    padding: 10px;

}

.landing-page-title {
    
    color: rgba(250, 241, 241, 0.904);
    font-size: 50px;
    padding: 20px 20px 5px 20px;
    font-family: 'Leckerli One', cursive;

}

button {

    border: none;
    border-radius: 20px;
    height: 60px;
    width: 250px;
    box-shadow: 0px 0px 10px 2px rgb(0, 0, 0);
    

    background-color: #38b457;
    
    font-size: 20px;
    font-weight: 600;
    color: rgba(250, 241, 241, 0.904);
    font-family: 'Unica One', cursive;
    
    transition: background-color 550ms, color 250ms;

}

#pitch{

    padding: 10px 30px 30px 30px;
    font-size: 13pt;
    color: rgba(32, 30, 30, 0.904);
    font-family: 'Unica One', cursive;

}

#spotify-icon{
    
    height: 40px;
    width: 40px;

}

button:hover{

    background-color: #298148;

}