.song-card--wrapper {

    padding: 5px;

}

#album-covers {
    
    transform:scale(1);
    max-height: 300px;
    max-width: 300px;
    
}

.album{

    font-family: 'Unica One', cursive;

}

#album-title{

    font-size: 3.0vh;
    font-weight: 600;
    padding-bottom:0px;

}

#artists-title{

    font-size: 3.0vh;
    font-weight:600;
    padding-bottom:0px;

}

.artists{

    font-family: 'Unica One', cursive;
    
}

#artists{

    font-size: 2.5vh;
    padding-top: 0px;
    line-height:3vh;

}


#id-name{

    font-size: 4.0vh;
    font-family: 'Unica One', cursive;
    line-height:3.4vw;
    font-weight: 600;
    
}

#album-name{

    padding-top: 0px;
    font-size: 2.5vh;
    font-family: 'Unica One', cursive;
    line-height:3vh;
    
}